<#include "../include/head.html">
<body style="padding: 3px; overflow: hidden;">
	<script src="${base.contextPath}/common/language?var=languageData"
		type="text/javascript"></script>
	<form id="d_pmt_002_form"></form>
	<div id="d_pmt_002_grid" style="margin: 0; padding: 0"></div>
	<script type="text/javascript">
		
	
		$(function() {
			window['d_pmt_002_form'] = $("#d_pmt_002_form")
	           .ligerForm({
				fields : [{
					display : '<@spring.message "sells.company.name"/>',
					name : 'companyNumber',
					textField : 'companyName',
					type : "popup",
					newline : false,
					options : {
						type : 'popup',
						valueField : 'companyNumber',
						textField : 'companyName',
						grid : {
							columns : [
							{
								display : '<@spring.message "sells.company.number"/>',
								name : "companyNumber",
								align : 'left',
								width : 200
							},
							{
								display : '<@spring.message "sells.company.name"/>',
								name : "companyName",
								align : 'left',
								width : 200
							} ],
							url : '${base.contextPath}/sells/getCompany',
							height : 350
						},
						condition : {
							inputWidth : 150,
							labelWidth : 70,
							fields : [
							{
								display : '<@spring.message "sells.company.number"/>',
								name : "companyNumber",
								newline : true,
								type : "text"
							},
							{
								display : '<@spring.message "sells.company.name"/>',
								name : "companyName",
								newline : false,
								type : "text"
							} ]
						}
					}
				}, 
				
				//----------客户名称------------
				{
					display : '<@spring.message "sells.customer.name"/>',
					name : 'customerNumber',
					textField : 'customerName',
					type : "popup",
					newline : false,
					options : {
						type : 'popup',
						valueField : 'customerNumber',
						textField : 'customerName',
						grid : {
							columns : [
							{
								display : '<@spring.message "sells.customer.number"/>',
								name : "customerNumber",
								align : 'left',
								width : 200
							},
							{
								display : '<@spring.message "sells.customer.name"/>',
								name : "customerName",
								align : 'left',
								width : 200
							} ],
							url : '${base.contextPath}/sells/getCustomer',
							height : 350
						},
						condition : {
							inputWidth : 150,
							labelWidth : 70,
							fields : [
							{
								display : '<@spring.message "sells.customer.number"/>',
								name : "customerNumber",
								newline : true,
								type : "text"
							},
							{
								display : '<@spring.message "sells.customer.name"/>',
								name : "customerName",
								newline : false,
								type : "text"
							} ]
						}
					}
				}, {
					type : 'text',
					label : '<@spring.message "sells.order.number"/>',
					name : 'orderNumber',
					newline : false
				},
				
				
				//----------物料------------
				{
					display : '<@spring.message "sells.inventory"/>',
					name : 'inventoryCode',
					textField : 'inventoryUom',
					type : "popup",
					newline : false,
					options : {
						type : 'popup',
						valueField : 'inventoryCode',
						textField : 'inventoryCode',
						grid : {
							columns : [
							{
								display : '<@spring.message "sells.inventory.number"/>',
								name : "inventoryCode",
								align : 'left',
								width : 200
							},
							{
								display : '<@spring.message "sells.inventory.uom"/>',
								name : "inventoryUom",
								align : 'left',
								width : 200
							},
							{
								display : '<@spring.message "sells.inventory.description"/>',
								name : "inventoryDescription",
								align : 'left',
								width : 200
							}],
							url : '${base.contextPath}/sells/getInventory',
							height : 350
						},
						condition : {
							inputWidth : 150,
							labelWidth : 70,
							fields : [
							{
								display : '<@spring.message "sells.inventory.number"/>',
								name : "inventoryCode",
								newline : true,
								type : "text"
							},{
								display : '<@spring.message "sells.inventory.uom"/>',
								name : "inventoryUom",
								newline : false,
								type : "text"
							} ]
						}
					}
				},
				
				//----------------------订单状态
				{
	                type : 'select',
	                label : '<@spring.message "sells.order.status"/>',
	                name : 'orderStatus',
	                newline : false,
	                options : {
	                    url:'${base.contextPath}/sells/getOrderData',
	                    valueField : "orderValue",
	                    textField : "orderMeaning",
	                }
	            }],
				buttons : [ {
					text : '<@spring.message "hap.query"/>',
					disabled : false,
					width : 60,
					click : function() {
						Hap.gridQuery({
							form : d_pmt_002_form,
							grid : d_pmt_002_grid
						})
					}
				},{
	                text    : '<@spring.message "hap.reset"/>',
	                disabled: false,
	                width   : 60,
	                click   : function () {
	                	d_pmt_002_form.reset();
	                }
	            } ,
				{
					text : '<@spring.message "sells.export.excel"/>',
					disabled : false,
					width : 60,
					click : function() {
					
					}
				} ]
			});

			window['d_pmt_002_grid'] = $("#d_pmt_002_grid").ligerGrid({
				unSetValidateAttr : false,
				columns : [
				{
					display : '<@spring.message "sells.order.number"/>',
					name : 'orderNumber',
					align : 'left',
					width : 150,
					 editor : {
                    type: 'text'
                }
				}, {
					display : '<@spring.message "sells.company.name"/>',
					name : 'companyName',
					align : 'center',
					width : 150
				}, {
					display : '<@spring.message "sells.customer.name"/>',
					name : 'customerName',
					align : 'center',
					width : 150,
				}, {
					display : '<@spring.message "sells.order.date"/>',
					name : 'orderDate',
					align : 'center',
					width : 300,
					type : 'date',
					format : "yyyy-MM-dd",
					editor : {
						type : 'date'
					}
				}, {
					display : '<@spring.message "sells.order.status"/>',
					name : 'orderStatus',
					align : 'center',
					width : 140

				}, {
					display : '<@spring.message "sells.order.amount"/>',
					name : 'orderAmount',
					align : 'center',
					width : 140
				} ],
				toolbar : {
	                items: [{
	                    text   : '<@spring.message "hap.new"/>',
	                    disable: false,
	                    click  : function () {
	                    },
	                    icon   : 'add'
	                }, {
	                    line: true
	                },]
	            },
				url : '${base.contextPath}/sells/showOrderMsg/query',
				width : '100%',
				height : '99%'
			});
		});
		
	</script>
</body>
</html>
