<?xml version="1.0" encoding="UTF-8" ?>
<!-- ~ #{copyright}# -->

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://www.mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="hbi.core.sells.mapper.OrderHeaderMapper">
	<resultMap id="BaseResultMap" type="hbi.core.sells.dto.OrderHeader">
		<id column="HEADER_ID" property="headerId" jdbcType="DECIMAL" />
		<result column="COMPANY_ID" property="companyId" jdbcType="DECIMAL" />
		<result column="ORDER_NUMBER" property="orderNumber" jdbcType="DECIMAL" />
		<result column="CUSTOMER_ID" property="customerId" jdbcType="DECIMAL" />
		<result column="ORDER_DATE" property="orderDate" jdbcType="DATE" />
	</resultMap>

	<select id="selectByOrderHeader" parameterType="hbi.core.sells.dto.OrderHeader"
		resultMap="BaseResultMap">
		SELECT
		HEADER_ID,
		COMPANY_ID,
		ORDER_NUMBER,
		COMPANY_ID,
		ORDER_DATE
		FROM
		hap_om_order_headers
		<where>
			<if test="headerId != null">
				AND HEADER_ID = #{headerId,jdbcType=DECIMAL}
			</if>
			<if test="companyId != null">
				AND COMPANY_ID like #{companyId,jdbcType=DECIMAL}
			</if>
			<if test="orderNumber != null">
				AND ORDER_NUMBER like
				#{orderNumber,jdbcType=VARCHAR}
			</if>
			<if test="customerId != null">
				AND CUSTOMER_ID like #{customerId,jdbcType=DECIMAL}
			</if>
		</where>
	</select>

	<select id="selectByShowOrderMsg" resultType="hbi.core.sells.dto.ShowOrderMsg"
		parameterType="hbi.core.sells.dto.ShowOrderMsg">
		SELECT
		head.ORDER_NUMBER AS orderNumber,
		head.ORDER_DATE AS orderDate,
		(line.ORDERD_QUANTITY*
		line.UNIT_SELLING_PRICE) AS orderAmount,
		company.COMPANY_NAME AS companyName,
		customer.CUSTOMER_NAME AS
		customerName,
		vtl.MEANING AS orderStatus
		FROM
		hap_om_order_headers AS
		head
		LEFT JOIN hap_om_order_lines AS line ON
		head.HEADER_ID=line.HEADER_ID
		LEFT JOIN hap_org_companys AS company ON
		head.COMPANY_ID=company.COMPANY_ID
		LEFT JOIN hap_ar_customers AS
		customer ON
		customer.CUSTOMER_ID=head.CUSTOMER_ID
		LEFT JOIN
		hap_inv_inventory_items AS item ON
		line.INVENTORY_ITEM_ID=item.INVENTORY_ITEM_ID
		LEFT JOIN
		sys_code_value_b AS vb ON head.ORDER_STATUS=vb.value
		LEFT JOIN
		sys_code_value_tl AS vtl ON
		vb.CODE_VALUE_ID=vtl.CODE_VALUE_ID
		and
		vtl.lang =
		#{request.locale,jdbcType=VARCHAR}
		<where>
			<if test="companyName!=null">
				AND company.COMPANY_NUMBER LIKE
				#{companyNumber,jdbcType=VARCHAR}
			</if>
			<if test="customerName!=null">
				AND customer.CUSTOMER_NUMBER LIKE
				#{customerNumber,jdbcType=VARCHAR}
			</if>
			<if test="orderNumber!=null">
				AND head.ORDER_NUMBER LIKE
				#{orderNumber,jdbcType=VARCHAR}
			</if>
			<if test="inventoryCode!=null">
				AND item.ITEM_CODE like #{inventoryCode,jdbcType=VARCHAR}
			</if>
			<if test="orderStatus!=null">
				AND head.order_status=#{orderStatus,jdbcType=VARCHAR}
			</if>
		</where>
	</select>

	<select id="selectOrderStatus" resultType="hbi.core.sells.dto.OrderStatusData">
		SELECT vb.value as orderValue,
		vtl.meaning as orderMeaning
		FROM sys_code_value_b AS vb
		LEFT JOIN sys_code_value_tl AS vtl
		ON
		vb.code_value_id=vtl.code_value_id
		LEFT JOIN sys_code_b AS cb ON vb.code_id=cb.code_id
		WHERE cb.code='HAP_OM_ORDER_STATUS'
		and 
		vtl.lang =
		#{request.locale,jdbcType=VARCHAR}
	</select>

</mapper>